<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.connection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Agustina\UNJU\APU\LPOOII\TPS\repo-rocha\lpooII-grupo-4-original\playadb.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>